# Compiled Object files
*.slo
*.lo
*.o
*~
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Toolkit
toolkit/binutils/
toolkit/build-binutils/*
toolkit/binutils-2.22/
toolkit/*.tar.gz
toolkit/cross/*
kernel.elf
libiconv*
.DS_Store
